<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a th:href="@{/}">MARKETPLACE</a></h1>
<h4>Панель администратора</h4>
<hr>
<table>
    <thead>
        <tr>
            <td>Email</td>
            <td>Номер телефона</td>
            <td>Активность</td>
            <td>Роли</td>
            <td>Бан</td>
            <td>Редактирование</td>
            <td>Подробная информация</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.active}"></td>
            <td th:each="role : ${user.roles}"><h4 th:text="${role}"></h4><br>  </td>
            <td>
                <form method="post" th:action="@{/user/ban/{id}(id=${user.id})}">
                    <!--<input type="hidden" name="_csrf" value="${_csrf.token}">-->
                    <input type="submit" value="Бан">
                </form>
            </td>
            <td><a th:href="@{/admin/user/edit/{id}(id=${user.id})}">Редактирование</a></td>
            <td><a th:href="@{/user/{id}(id=${user.id})}">Подробная информация</a></td>
        </tr>
    </tbody>
</table>
<!--<table>
    <tr>
        <th>Email</th>
        <th>Номер телефона</th>
        <th>Активность</th>
        <th>Роли</th>
        <th>Бан</th>
        <th>Редактирование</th>
        <th>Подробная информация</th>
    </tr>
    <tr th:each="user : ${users}">
        <th th:text="${user.email}"></th>
        <th th:text="${user.phoneNumber}"></th>
        <th th:text="${user.active}"></th>
        <th th:each="role : ${user.roles}"><h4 th:text="${role}"></h4></th>
        <th>
            <form method="post" th:action="@{/user/ban/{id}(id=${user.id})}">
                &lt;!&ndash;<input type="hidden" name="_csrf" value="${_csrf.token}">&ndash;&gt;
                <input type="submit" value="Бан">
            </form>
        </th>
        <th><a th:href="@{/admin/user/edit/{id}(id=${user.id})}">Редактирование</a></th>
        <th><a th:href="@{/user/{id}(Id=${user.id})}">Подробная информация</a></th>
    </tr>
</table>-->

</body>
</html>