<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><a th:href="@{/}">MARKETPLACE</a></h1>
    <HR>
    <h2>Регистрация</h2>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <table>
            <tbody>
            <tr>
                <td>Имя пользователя:</td><td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Эл. почта:</td><td><input type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td>Номер телефона:</td><td><input type="text" th:field="*{phoneNumber}"></td>
            </tr>
            <tr>
                <td>Пароль:</td><td><input type="text" th:field="*{password}"></td>
            </tr>
            <tr>
                <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}">-->
                <td><input type="submit"></td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>