<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a th:href="@{/}">MARKETPLACE</a></h1>
<h3>Редактирование пользователя: <span th:text="${user.name}"></span></h3>
    <form th:action="@{/admin/user/edit}" method="post">
        <span  th:each="role : ${roles}">
            <input type="checkbox" th:name="${role}"  th:text="${role}" th:checked="${user.roles.contains(role)}"><br>
        </span>
        <input type="hidden" th:name="userId" th:value="${user.id}" />
        <input type="submit">
    </form>
</body>
</html>
